# Prisma DB Connection

DATABASE_URL="postgresql://"user":"password"@localhost:5432/project_manager"

# Email SMTP Config
EMAIL_USER=realprojectmanagerlead@gmail.com
EMAIL_PASS=deac doja ipvb ccqu

# JWT Secret for authentication
JWT_SECRET=lorenzokakagroot
